{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<body style="background-color: #0D1717; color: #FFF; font-family: 'Glass Antiqua', cursive;">

		<div class="container py-5">

			<div class="row justify-content-center">

				<div class="col-md-6 border rounded p-5">
					<div class="form-group">
						<h1 class="text-center">Bonjour
							{{ user.pseudo }}</h1>
					</div>

					<h2 class="mb-3 mt-3 text-center">Réinitialisation de votre mot de passe</h2>

					{{ form_start(form) }}
					<div class="form-group">
						{{ form_row(form.password.first, {'attr': {'class': 'bg-dark text-light'}}) }}
						{{ form_row(form.password.second, {'attr': {'class': 'bg-dark text-light'}}) }}
					</div>
				</br>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-light">Envoyer</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</body>
</div></body>{% endblock %}
