{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<div class="container py-5">

		<div class="row justify-content-center">

			<div class="col-md-6 border rounded p-5">

				<h1 class="mb-4 text-center">Réinitialisation de votre mot de passe</h1>


				{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
				<div class="form-group">
					<h2 class="text-center">Bonjour
						{{ user.pseudo }}</h2>
				</div>
			</br>

			<div class="form-group">
				{{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe'}}) }}
				 {{ form_errors(form.password.first) }}
			</div>
		</br>

		<div class="form-group">
			{{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmation du nouveau mot de passe'}}) }}
			{{ form_errors(form.password.second) }}
		</div>
	</br>


	<div class="form-group">
		<button type="submit" class="btn btn-primary">Envoyer</button>
	</div>

	{{ form_end(form) }}

</div></div></div>{% endblock %}
