{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<div class="container py-5">

		<div class="row justify-content-center">

			<div class="col-md-6 border rounded p-5">

				<h1 class="mb-4 text-center">Réinitialisation de votre mot de passe</h1>
				
				{{ form_start(form) }}
					<div class="form-group">
						<h2 class="text-center">Bonjour
							{{ user.pseudo }}</h2>
					</div>
					<div class="form-group">
						{{ form_row(form.password.first) }}
						{{ form_row(form.password.second) }}
					</div>	
					</br>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Envoyer</button>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
